*:before,
*:after,
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: auto;
  background: #000000;
}

body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin: 0;
  background-color: #F2F2F2;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d7d3c8', endColorstr='#f6f4ec');/*For IE7-8-9*/
}

.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Zilla Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: normal;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}

h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}

h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
  margin-bottom: 32px;
}

h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}

h5 {
  font-size: 20px;
  letter-spacing: -0.125px;
  line-height: 100%;
}

h6 {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.small, small {
  font-size: 12px;
  line-height: 125%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
}

a {
  background: none repeat scroll 0% 0% transparent;
  color: #0485B7;
  text-decoration: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 420px;
  width: 100%;
  overflow-x: hidden;
  padding: 35px;
  background: #fff;
}

.donate-now-header {
  display: inline-block;
  width: 600px;
  font-size: 38px;
  font-weight: 300;
}

.altura {
  height: 500px
}

.wrap {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.row {
  clear: both;
  overflow: hidden;
}

.full,
.half,
.third,
.two-third,
.quarter {
  position: relative;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  word-wrap: break-word;
}

html[dir="rtl"] {
  .full,
  .half,
  .third,
  .two-third,
  .quarter {
    float: right;
  }
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.third {
  width: 33.33%;
}

.two-third {
  width: 66.66%
}

.quarter {
  width: 25%;
}

.text-center {
  text-align: center;
}

.auto-margin {
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

/* = Set placeholder text colour ========== */

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

.large-label-size {
  font-size: 24px;
}

.medium-label-size {
  font-size: 16px;
}

.left {
  float: left;
}

.right {
  float: right;
}

html[dir="rtl"] {
  .left {
    float: right;
  }
  .right {
    float: left;
  }
}

/* = Form Fields ========== */

label {
  margin-bottom: 5px;
}

input[type="radio"] + label {
  margin-left: 10px;
}
html[dir="rtl"] input[type="radio"] + label {
  margin-left: 0;
  margin-right: 10px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select,
input[type="email"] {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #CCCCCC;
  padding: 6px 7px 6px 33px;
  background-color: #FFFFFF;
  outline: none;
  &:focus,
  &:hover {
    border-color: #06AAEA;
  }
}

input[type="email"] {
  padding-right: 33px;
}

input[name="donation_amount"],
input.payment-type {
  display: none;
}

input[name="donation_amount"] + label,
input.payment-type + label {
  display: inline-block;
  width: 100%;
  padding: 7px 0;
  margin-left: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.42857;
}

html[dir="rtl"] {
  input[name="donation_amount"] + label,
  input.payment-type + label {
    margin-right: 0;
  }
}

input[name="donation_amount"]:checked + label,
input.payment-type:checked + label {
  color: #fff;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

.button-arrow,
.submit-btn {
  background-color: #F65E6C;
  font-size: 22px;
  font-weight: 400;
}

.amount-radio + label,
.button-arrow,
.submit-btn,
.social-button,
input.payment-type + label {
  position: relative;
}

.submit-btn {
  padding-top: 3px;
  padding-bottom: 7px;
}

.submit-btn:hover {
  background-color: #FF7B87;
}

.button-arrow {
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-arrow {
  border-radius: 0 3px 0 100%;
  &::before {
    border-radius: 0 0 0 0;
    left: 0;
    bottom: 0;
  }
  position: absolute;
  background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.2));
  height: 32px;
  width: 32px;
  top: 6px;
  right: -16px;
  padding: 0;
  transform: rotate(45deg);
  margin: 1px 0 0 1px;
  &::before {
    border-left: none;
    border-bottom: none;
  }
}

.paypal-disabled {
  #secure-label {
    position: absolute;
    right: 5px;
    top: 71px;
  }
  .credit-card-logos {
    float: left;
    margin-left: -20px;
    &.no-amex {
      margin-left: -10px;
    }

    @media screen and (max-width: 480px) {
      margin-left: -16px;
    }
  }
}

html[dir="rtl"] {
  .paypal-disabled {
    #secure-label {
      left: 5px;
      right: auto;
    }
    .credit-card-logos {
      float: right;
      margin-left: 0;
      margin-right: -20px;
      &.no-amex {
        margin-left: 0;
        margin-right: -10px;
      }

      @media screen and (max-width: 480px) {
        margin-left: 0;
        margin-right: -16px;
      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

i.fa.field-icon.icon-in-focus,
i.fa.hint {
  &.on {
    color: #38A9ED;
  }
}

select {
  padding-left: 29px;
  padding-right: 10px;
  height: 38px;
  cursor: pointer;
}

select * {
  padding-left: 29px;
}

.field-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

i.fa.field-icon {
  position: absolute;
  font-size: 14px;
  color: #4D4E53; /*Mozilla charcoal*/
  top: 12px;
  left: 12px;
  &.fa-lock {
    top: 13px;
    font-size: 15px;
  }
}
html[dir="rtl"] i.fa.field-icon {
  left: auto;
  right: 12px;
}

i.fa.hint {
  position: absolute;
  font-size: 20px;
  color: #E6E7E8;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
html[dir="rtl"] i.fa.hint {
  left: auto;
  right: 10px;
}


/* = Layout, sections, and other UI related stuff ========== */

.name-input,
.address-input,
.email-input {
  margin-top: 15px;
}

.credit-card-section {
  margin-top: 27px;
}

.choose-payment {
  margin-bottom: 0;
  margin-right: 5px;
  font-weight: 700;
}

#secure-label {
  margin: 4px 0 20px 0;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-size: 13px;
  color: #9d9d9d;
  display: flex;
  align-items: center;
  i.fa {
    font-size: 18px;
    opacity: 0.6;
    margin-right: 6px;
  }
}
html[dir="rtl"] #secure-label i.fa {
  margin-left: 6px;
  margin-right: 0;
}

/* Parsley.js / Validation Styling */
.parsley-errors-list,
#one-line-error {
  font-size: 12px;
  margin: 0;
}

#error-msg .parsley-errors-list {
  display: block;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#one-line-error p {
  margin-bottom: 0;
}

input:invalid {
  box-shadow: none;
}

input.parsley-error,
input.parsley-error:focus,
select.parsley-error,
select.parsley-error:focus {
  border-color: #FB707D;
}

.parsley-errors-list *,
.parsley-required,
.parsley-type,
.parsley-custom-error-message,
#one-line-error {
  color: #C13832;
}

.half.parsley-error, .half.parsley-error + .half {
  border-bottom: #C13832 solid 1px;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  input#amount-other + label + input[type="number"],
  input#amount-other + label + #amount-other-input {
    width: 76%;
  }
}

#donation-form {

  #one-line-error {
    display: none;
  }
  #page-2,
  #page-3 {
    .parsley-errors-list {
      display: none;
    }
    #privacy-policy {
      .parsley-errors-list {
        display: block;
      }
    }
  }
}

#donation-form h2 {
  margin-bottom: 35px;
}

#my-app {
  position: relative;
}

.buttons-less-text {

  input.payment-type + label {
    padding: 12px 0;
  }

  @media screen and (min-width: 480px) {
    input.payment-type + label {
      padding: 10px 0;
    }
  }

}

#g-recaptcha {
  position: relative;
  z-index: 1;
}
